.pageDescription {
    height: 100vh;
    width: 100%;
    background-image: url('https://zos.alipayobjects.com/rmsportal/gGlUMYGEIvjDOOw.jpg');
    background-position: center;
    background-color: rgb(32, 32, 32);
}
.description {
    color: rgb(214, 214, 214);
    background-color: rgba(31,31,31,.5);
    padding-top: 10vh;
    padding-left: 24px;
    padding-right: 24px;
    width: 50%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptionTitle {
    font-size: 64px;
    margin-bottom: 32px;
}

.descriptionText {
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
}


/* mobile */
@media (-webkit-min-device-pixel-ratio: 1.25) { 
    .descriptionText {
        font-size: 18px;
        line-height: 1.3;
        text-align: center;
    }
 }
@media screen and (max-width: 768px) {
    .description {
        width: 80%;
    }
    .descriptionTitle {
        font-size: 46px;
        margin-bottom: 16px;
    }
    .descriptionText {
        font-size: 14px;
        line-height: 1.3;
        text-align: center;
    }
}

